body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: #333;
}
.main_container {
    color: black;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    color: black
}
form {
    margin-top: 20px;
}
label {
    font-size:medium;
    font-weight:bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    margin-bottom: 5px;
    color: black;
}
input[type="text"],
input[type="email"],
textarea,
input[type="date"],
input[type="number"],
input[type="submit"] {
    font-size: medium;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
textarea {
    height: 150px;
}
input[type="submit"] {
    background-color: black;
    font-size: medium;
    color: burlywood;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
input[type="submit"]:hover {
    background-color:mediumblue;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
    input[type="text"],
    input[type="email"],
    textarea,
    input[type="date"],
    input[type="number"],
    input[type="submit"] {
        width: calc(100% - 22px);
    }
}