html {
    font-size: 62.5%; /* default screen above laptop */
    scroll-behavior: smooth;
    font-family: sans-serif;
  
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

  }
  
  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: black;
    transition: linear;
  }
  
  
  
  .text-center {
    text-align: center;
  }
  
  .container {
    width: 90%;
    margin: auto;
  }

  .responsiveImage {
    max-width: 100%;
    height: auto;
  }
